<div id="nav">
	<div data-ng-include src="'views/partials/_nav.html'"></div>
</div>
<div id="sign-in">
	<div data-ng-show="!currentUser">
		<a ui-sref="signIn"><img src="content/images/sign-in.png" alt="Sign in" /></a>
	</div>
	<div data-ng-show="currentUser">
		<a ui-sref="profile"><img src="content/images/profile.png" alt="Profile" /></a>
	</div>
</div>
<div id="title">
	<div style="margin-right:200px;">
		<h1>{{currentStateTitle}}</h1>
	</div>
</div>

<div class="clear"></div>