<div class="clear"></div>
<div data-ng-controller="signinController">
	<div data-ng-show="!currentUser">
		<label for="email">Email</label>
		<input type="text" name="email" id="email" ng-model="user.email" />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" data-ng-model="user.password" />
		<span class="button" data-ng-click="signIn()">Sign in</button>
	</div>

	<div data-ng-show="currentUser">
		<span>Signed in as: </span><a ui-sref="profile">{{currentUser.email}}</a>
		<span class="button" data-ng-click="signOut()">Sign Out</button>
	</div>
</div>
<div class="clear"></div>