html *{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
	width:100%;
	font-family: 'Open Sans', sans-serif;
}

/* Classes */
.clear{
	clear:both;
}
.rel{
	position:relative;
}
.center{
	text-align:center;
}
.button{
	display:inline-block;
	width:auto;
	padding:.25em 2em;
	margin-left:1em;
	background-color:#009696;
	border:1px solid #007575;
	color:#fff;
	cursor:pointer;
	text-decoration:none;
}
.button:hover{
	background-color:#00B8B8;
}
.button.red{
	background-color:#950914;
	border:1px solid #BD0914;
}
.button.red:hover{
	background-color:#BD0914;
}

input{
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	line-height:1em; 
}
/* Layout */
#top{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1;
}
#header{
	position:absolute;
	width:100%;
	height:50px;
	background-color:#000;
	z-index:2;
}
#nav{
	float:left;
	width:250px;
	height:100%;
}
#title{
	height:100%;
	margin-left:250px;
	margin-right:50px;
	overflow:hidden;
}
#sign-in{
	float:right;
	width:50px;
	height:100%;
}
#content-container{
	position:relative;
	margin-top:50px;
}
#my-messages{
	position:relative;
	color:#fff;
	cursor:pointer;
}
#my-messages.success{
	background-color:#4FC400;	
}
#my-messages.warning{
	background-color:#CFC800;	
}
#my-messages.error{
	background-color:#950914;	
}
#my-messages p{
	font-size:1.35em;
	padding: .5em 0;
	text-align:center;
}
#content{
	width:100%;
	background-color:#222;
	color:#ddd;
	z-index:1;
}
#map{
	height:100%;
	min-height:100%;
}

/* Navigation */
#nav ul{
	width:100%;
	height:100%;
	list-style:none;
}

#nav li{
	float:left;
}
#nav a{
	display:block;
	width:50px;
	height:50px;
}
#nav a:hover{
	background-color:#00B8B8;
}
#nav a.active{
	background-color:#009696;
}
#nav img{
	height:100%;
	width:100%;
}

/* Title */
#title h1{
	margin-top: 5px;
	text-align:center;
	font-size: 30px;
	color:#fff;
}
/*Sign in*/
#sign-in a{
	display:block;
	height:100%;
	width:100%;
	background-color:#009696;
}
#sign-in a:hover{
	background-color:#00B8B8;
	cursor:pointer;
}
#sign-in a img{
	display:block;
	height:100%;
	width:100%;	
}

/* Google maps */
#my-google-map-canvas{
	width:100%;
	height:100%;
}

/* Content */
ul.items {
	float:left;
	width:100%;
	list-style:none;
}

ul.items>li.item{
	float:left;
	width:20%;
}
ul.items>li.item>a{
	display:block;
	padding:.5em;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}
ul.items>li.item>a:hover{
	background-color:#00B8B8;
}

div.prev,
div.next{
	position:absolute;
	top:0;
	width:50px;
	height:100%;
	background:#000;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
div.prev:hover,
div.next:hover{
	background-color:#00B8B8;
}
div.prev{
	left:0;
	background-image:url('../images/prev.png');
}
div.next{
	right:0;
	background-image:url('../images/next.png');
}

div.list{
	margin:0 50px;
}

div.next.disabled,
div.prev.disabled,
div.next.disabled:hover,
div.prev.disabled:hover{
	background-image:none;
	background-color:#222;
	cursor:default;
}

/*Search*/
#my-google-places{
	margin:0 auto;
	padding:10px 0;
	width:350px;
}
#my-google-places input{
	display:block;
	float:left;
	height:36px;
	width:280px;
	padding:0 10px;
	border:none;
	outline:none;
}
#my-google-places span.button{
	display:block;
	float:left;
	width:36px;
	height:36px;
	margin:0;
	padding:0 5px;
	border:none;
	background-image:url('../images/search.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:36px 36px;
}

/* sign in form */
#sign-in-form{
	position:relative;
	width:320px;
	margin:0 auto;
	padding: 10px 0;
}

#sign-in-labels{
	float:left;
	width:100px;
	height:48px;
}
#sign-in-inputs{
	float:left;
	width:220px;
	height:48px;
}
#sign-in-submit{
	float:right;
	width:220px;
	height:24px;
}

#sign-in-form label{
	display:block;
	float:right;
	margin-right:5px;
}

#sign-in-form input{
	display:block;
	height:19px;
	width:210px;
	padding:2px 5px;
	border:none;
	border-bottom:1px solid #222;
}

#sign-in-form span.button{
	height:100%;
	width:100%;
	margin-left:0;
	padding:0;
	border:none;
	text-align:center;
}

/* Profile */

#profile{
	margin-right:150px;
}

/* Profile menu */

#profile-menu{
	float:right;
	width:150px;
	height:50px;
}
#profile-menu ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	background-color:#009696;
}
#profile-menu ul li{
	float:left;
	height:50px;
	width:50px;
}
#profile-menu ul li a{
	display:block;
	cursor:pointer;
}
#profile-menu ul li a:hover{
	background-color:#00B8B8;
}
#profile-menu ul li a.sign-out{
	background-color:#950914;
}
#profile-menu ul li a.sign-out:hover{
	background-color:#BD0914;
}
#profile-menu ul li img{
	display:block;
	width:100%;
	height:100%;
}

#profile .user-event{
	position:relative;
	width:100%;
}

#profile .user-event img{
	width:30px;
	height:30px;
}

#profile .user-event .comment{
	margin-left:60px;
	padding:0 5px;
	height:50px;
	overflow:hidden;
}
#profile .user-event .comment .date{
	font-size:12px;
	font-style:italic;
}

#profile .user-event .options{
	float:left;
	width:60px;
	height:30px;
	padding:10px 0;
	cursor:pointer;
}

#profile .user-event .options .edit{
	float:left;
	height:30px;
	width:30px;
	background-color:#009696;
}
#profile .user-event .options .delete{
	float:left;
	height:30px;
	width:30px;
	background-color:#950914;
}

#profile .user-event .options .edit:hover{
	background-color:#00B8B8;
}
#profile .user-event .options .delete:hover{
	background-color:#BD0914;
}

/* delete confirm */
#delete-confirm{
	padding:10px 0;
	font-size:16px;
}

/* edit event */
#edit-event{
	padding:10px;
	text-align:center;
}

#edit-event input{
	width:300px;
}

/* new event */
#new-event{
	padding:10px 0;
	text-align:center;
}

#new-event .button{
	margin-top:5px;
}