html *{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
	width:100%;
}

/* Layout */
#nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#f00;
}

#map{
	height:100%;
	min-height:100%;
	background:#0f0;
}