#content.ng-enter, #content.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

#content.ng-enter {
    margin-top:-100%;
}

#content.ng-enter-active {
    margin-top:0;
}

#content.ng-leave {
    margin-top:0;
}

#content.ng-leave-active {
    margin-top:-100%;
}